<%= bootstrap_form_for(@question) do |f| %>
  <% if @question.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

  <ul>
    <% @question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
</div>
  <% end %>
<div class="centered field">
  <%= f.text_area :text, hide_label: true, placeholder: "Esempio:...", rows: 7%><br>
  <%= f.number_field :prize, :class => 'text_field', :step => 'any' %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
