<div class="border-form-div">
  <h2>Modifica</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.email_field :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>
    <%= f.label :password, 'Password (solo se vuoi cambiarla)' %>
    <%= f.password_field :password, autocomplete: "off", label: "leave it blank if you don't want to change it", required: false %>
    <%= f.label :password_confirmation, 'Confenrma password' %>
    <%= f.password_field :password_confirmation, required: false %>
    <%= f.label :current_password, 'Password corrente (serve per confermare chi sei)' %>
    <%= f.password_field :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

  <h3>Cancellami l'account!</h3>

  <p>Ci dispiace :( <%= link_to "Cancellami", registration_path(resource_name), data: { confirm: "Sicuro?" }, method: :delete %></p>

  <%= link_to "Indietro", :back %>
</div>
