<!DOCTYPE html>
<html>
<head>
<title>BrainwerWebapp</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <h3 class="muted"><%= link_to "Brainwer", root_path, class:"nounderline"  %></h3>
  </div>
  <% if user_signed_in? %>
    <ul class="nav navbar-nav pull-right">
    <li><%= link_to 'Il tuo account', edit_user_registration_path %></li>
    <li><%= link_to 'Esci', destroy_user_session_path, :method => :delete %></li>
  </ul>
<% else %>
    <ul class="nav navbar-nav pull-right">
    <li><%= link_to 'Registrati', new_user_registration_path %></li>
    <li><%= link_to 'Entra', new_user_session_path %></li>
  </ul>
<% end %>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-3">
      <%= flash_messages %>
    </div>
    <div class="col-xs-5">
    </div>
  </div>
  <%= yield %>
</div>

</body>
</html>
